.card {
  width: 100%;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-img-top {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-body {
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.card-title {
  font-size: 1rem; /* 20px */
  font-weight: bold;
  margin-bottom: 0.5rem;
  max-height: 5rem; /* Limit the height to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 2 lines */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-preview {
  font-size: 0.9rem; /* 16px */
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-date {
  font-size: 0.8rem; /* 14px */
  color: #777;
  margin-top: 0.5rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.card:hover .card-body {
  background-color: #f0f0f0;
}